/* @import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;700;800&display=swap'); */
/* @import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap"); */
@font-face {
  font-family: "din";
  src: url(./assets/fonts/din.ttf);
}


body {
  margin: 0;
  height: 100vh;
  /* background-color: #f7f7f7 !important; */
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 100%, #000 0%), url('./assets/images/bg.jpg') !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.App{
  font-family: "din" !important;
}

.din, .muirtl-14s5rfu-MuiFormLabel-root-MuiInputLabel-root
/* , .muirtl-1sumxir-MuiFormLabel-root-MuiInputLabel-root.Mui-focused  */
 {
  font-family: "din" !important;
}

.wrap{
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 600px;
  width: 100%;
  transform: translate(-50%, -50%);
  /* background: url(/images/cool-background.png); */
}
.box{
  padding: 30px 10px;
  width: 100%;
  /* min-height: fit-content; */
  /* border: 3px solid rgb(139, 130, 130); */
  border-radius: 8px;
  text-align: center;
  /* border: 2px solid rgb(24, 92, 174); */
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}
form {
  text-align: center;
}
.textfeild {
  width: 400px;
  padding: 8px;
  border: 2px solid lightgray;
  border-radius: 11px;
}
.btn {
  margin-top: 1px;
}
h1,
h3 {
  margin-top: 20px;
  text-align: center;
}

/*spinner css */
.spinner-cont {
  width: 100%;
  height: 150px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 230, 230);
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner-loader {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}
