/* @import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;700;800&display=swap'); */
/* @import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap"); */
@font-face {
  font-family: "din";
  src: url(./assets/fonts/din.ttf);
}

body {
  margin: 0;
  height: 100vh;
  background-color: #f7f7f7 !important;
}

.App {
  font-family: "din" !important;
}
section {
  padding: 100px 10px;
  width: 100%;
  margin: 0 auto !important;
  overflow-x: hidden;
}
.main-color {
  color: #1976d2 !important;
}
.din, .muirtl-14s5rfu-MuiFormLabel-root-MuiInputLabel-root
/* , .muirtl-1sumxir-MuiFormLabel-root-MuiInputLabel-root.Mui-focused  */
 {
  font-family: "din" !important;
}

/* Loader */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 3px solid #313131; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}
.Home{
  overflow-x: hidden !important;
}
.hom-hdr{
  display: flex;
  justify-content: center;
  align-items: center;
}
.hom-hdr{
  margin-top: 64px;
  min-height: 340px;
  width: 100%;
  background-image: url("./assets/images/bg4.jpg");
  background-attachment: fixed !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hdr-bg{
  background-color: rgb(241, 239, 244);
  padding: 15px;
  border-radius: 9px;
}
.hdr-txt{
  color: rgb(20, 30, 211);
  font-weight: 500;
}
.hom-bdy{
  margin-top: 80px;
  margin-bottom: 90px;
}
.p1{
  margin-right: 30px;
  margin-top: 30px;
  font-size: larger;
}
.img1{
  width: 400px;
  height: 300px;
}

.hom-fotr p{
  background-color: rgba(235, 231, 231, 0.763);
}
.Login {
  height: 100vh;
  width: 100%;
  background-image: url("./assets/images/bg.jpg") !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 600px;
  width: 100%;
  transform: translate(-50%, -50%);
  /* background: url(/images/cool-background.png); */
}
.box {
  padding: 30px 10px;
  width: 100%;
  /* min-height: fit-content; */
  /* border: 3px solid rgb(139, 130, 130); */
  border-radius: 8px;
  text-align: center;
  /* border: 2px solid rgb(24, 92, 174); */
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}

.textfeild {
  width: 400px;
  padding: 8px;
  border: 2px solid lightgray;
  border-radius: 11px;
}
.btn {
  margin-top: 1px;
}
h1,
h3 {
  margin-top: 20px;
  text-align: center;
}

/* sidebar  */
.list-link {
  color: rgb(82, 82, 82);
  text-decoration: none;
}

a,
span,
p,
div,
input,
ul,
li,
input,
label,
button,
td,
tr,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "din", "Roboto" !important;
}

.muirtl-10hburv-MuiTypography-root {
  font-weight: 100 !important;
  font-size: 0.9rem !important;
}

/* salaries */
.salaries-record {
  background-color: #fff;
  padding: 40px 0;
  border-radius: 20px;
  border: 3px solid #f7f7f7;
  outline: 3px solid #fff;
}
.salaries-record:hover {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
}
.past-salaries a {
  color: rgb(48, 48, 48);
  text-decoration: none;
}
.emp-img {
  width: 540px;
  height: 320px;
}
.before-print{
  display: none;
}

@media only screen and (max-width: 600px) {
  .emp-img {
    width: 400px;
  }
  .hom-hdr{
    margin-top: 48px;
  }
}
@media only screen and (max-width: 470px) {
  .emp-img {
    width: 300px;
    height: 240px;
  }
}

@media print {
  .print-yes{
    display: block !important;
  }
  .print-none {
    display: none !important;
  }
  .newpage {
    margin-top: 130px;
  }
  .page-break{
    margin-top: 40px;
  }
  .print-direction {
    direction: rtl !important;
  }
}
/* @media only screen and (max-width: 600px) {
  .emp-img {
    width: 400px;
  }
} */
